$pos: absolute;

body{

    text-align: center;

    *{
        display: inline-block;
        height: 100px;
        width: 300px;
        border-style: solid;
    }

    .A{
        background-color: yellow;
        border-color: red;
        position: $pos;
        right: calc(50% - 150px);
        top: calc(50% - 50px);
    }
    .B
    {
        background-color: white;
        border-color: blue;
        position: $pos;
        right: calc(45% - 150px);
        top: calc(55% - 50px);
    }
}