$size: 120px;

body{
    margin: 0;
}

#outer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box{
        width: $size;
        height: $size;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        text-align: center;
    };

    #one
    {
        background-color: #d4d4d4;
    }

    #two{
        background-color: #949494;
    }

    #three{
        background-color: #444444;
    }

}